{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDESCA - SGC</title>
    <link rel="icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">

    <!-- INTERNAL IMPORTS -->
    <link rel="stylesheet" href="{% static 'css/daisy-ui.min.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/tailwindcss.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <script src="{% static 'js/chart.umd.min.js' %}"></script>

    {% block head %}
    {% endblock %}
    
    {% block styles %}
    {% endblock %}
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="min-h-screen">
    <div class="flex flex-col min-h-screen">
        {% include 'navbar.html' %}

        <main class="flex-grow p-4 md:p-6">
            {% if request.user.is_authenticated %}
                {% include 'messages.html' %}
            {% endif %}
            
            <div class="w-full mx-auto px-0 bg-white rounded-lg shadow-lg p-6">                
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
    
    {% include 'footer.html' %}
    
    {% block js %}
    {% endblock %}
</body>
</html>