{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="max-w-2xl m-auto p-3 sm:flex align-items-center content-center" style="min-height: 80vh;">
	<div class="shadow-2xl bg-white p-6 border border-gray-300 rounded-lg max-w-sm m-auto lg:p-10">
        <form class="space-y-8" method="post">
            {% csrf_token %}
            <div class="flex items-center justify-center w-full">
                <div class="flex items-center justify-center w-full">
                    <img src="{% static 'img/logo.svg' %}" class="h-12" alt="Indesca Logo" />
                    <div class="ml-1 pl-5 border-l border-gray-300 text-left">
                        <span class="text-xl font-semibold text-gray-800 text-center">
                            Sistema de <br> Gestión de la Calidad
                        </span>
                    </div>
                </div>
            </div>

            <hr>

            <h3 class="text-md font-semibold text-gray-800 text-center">
                Inicio de Sesión<br>
            </h3>

            {% if messages %}
            <div role="alert" class="alert alert-warning">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                <span>
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </span>
            </div>
            {% endif %}

            <div>
                <label class="input input-bordered flex items-center gap-2">
                    <input type="text" class="grow" placeholder="Usuario" name="username" required />
                </label>
            </div>

            <div>
                <label class="input input-bordered flex items-center gap-2">
                    <input type="password" placeholder="Contraseña" class="grow" name="password" required />
                </label>
            </div>
            
            <button type="submit" class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Ingresar al Sistema</button>
        </form>
    </div>
</div>
{% endblock %}