{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Lista de Secciones{% endblock %}

{% block content %}
    <div class="p-3">
        <h1 class="text-center text-3xl font-bold">
           Resultados de la Búsqueda
        </h1>

        <h2>
            Parámetro de Búsqueda: "{{busqueda}}"
        </h2>

        <hr>

        <table class="table-xs w-full border-collapse border border-gray-300">
            <thead class="bg-gray-900 text-white">
                <tr>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Fecha de Carga</th>
                    <th>Cargado por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if not carpetas and not archivos %}
                    <tr>
                        <td colspan="5" class="text-center">No se encontraron ni carpetas ni archivos activos con el parámetro de búsqueda.</td>
                    </tr>
                {% else %}
                    {% for carpeta in carpetas %}
                    <tr class="hover:bg-gray-100 text-center">
                            <td>
                                <div class="flex justify-center">
                                    <img src="/static/img/folder.svg" width="25" height="25" alt="Carpeta">
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'list_files_carpeta' seccion=seccion.pk carpeta=carpeta.ruta %}" class="hover:underline">{{carpeta.nombre}}</a>
                        </td>
                        <td>{{carpeta.fecha_de_carga}}</td>
                        <td>{{carpeta.creado_por.get_full_name}}</td>
                        <td>                            
                            <div class="flex justify-center">
                                <a href="{% url 'list_files_carpeta' seccion=seccion.pk carpeta=carpeta.ruta %}" class="btn btn-xs text-white mr-2" style="background-color: black !important;">
                                    Ir a la dirección
                                </a>

                                <label for="history-folder-{{carpeta.pk}}" class="btn btn-xs" style="background-color: gray;">
                                    <img src="{% static 'img/history.png' %}" width="15" height="15" alt="Historial">
                                </label>

                                <input type="checkbox" id="history-folder-{{carpeta.pk}}" class="modal-toggle" />
                                <div class="modal" id="history-folder-{{carpeta.pk}}" role="dialog">
                                    
                                    <div class="modal-box p-5 w-11/12 max-w-5xl">
                                        <h3 class="font-bold text-lg text-center">Registro de Cambios a la Carpeta</h3>
                                        <hr>

                                        <div hx-get="{% url 'versiones_carpetas' carpeta.pk %}" hx-trigger="intersect"></div>
                                    </div>
                                    <label class="modal-backdrop" for="history-folder-{{carpeta.pk}}">Close</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                    {% for archivo in archivos %}
                    <tr class="hover:bg-gray-100 text-center">
                            <td>
                                <div class="flex justify-center">
                                    {% if '.pdf' in archivo.direccion.url %}
                                    <img src="{% static 'img/pdf.svg' %}" width="25" height="25" alt="PDF">
                                    {% elif '.doc' in archivo.direccion.url or '.docx' in archivo.direccion.url %}
                                        <img src="{% static 'img/docx.png' %}" width="25" height="25" alt="Documento">
                                    {% elif '.xls' in archivo.direccion.url or '.xlsx' in archivo.direccion.url %}
                                        <img src="{% static 'img/xlsx.png' %}" width="25" height="25" alt="Excel">
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <a href="{{archivo.direccion.url}}" target="_blank" class="hover:underline">{{archivo.nombre}}</a> <br>

                            <small>{% if archivo.carpeta %}({{archivo.seccion_padre}}/{{archivo.carpeta.ruta}}){% else %}({{archivo.seccion_padre}}){% endif %}</small>
                        </td>
                        <td>{{archivo.fecha_de_carga}}</td>
                        <td>{{archivo.creado_por.get_full_name}}</td>
                        <td>
                            <div class="flex justify-center">
                                <a href="{% if archivo.carpeta %}{% url 'list_files_carpeta' seccion=archivo.seccion_padre.pk carpeta=archivo.carpeta.ruta %}{% else %}{% url 'list_files' seccion=archivo.seccion_padre.pk %}{% endif %}" class="btn btn-xs border text-white mr-2" style="background-color: black;">
                                    Ir a la dirección
                                </a>
                                <label for="history-{{archivo.pk}}" class="btn btn-xs" style="background-color: gray;">
                                    <img src="{% static 'img/history.png' %}" width="15" height="15" alt="Historial">
                                </label>

                                <input type="checkbox" id="history-{{archivo.pk}}" class="modal-toggle" />
                                <div class="modal" id="history-{{archivo.pk}}" role="dialog">
                                    
                                    <div class="modal-box p-5 w-11/12 max-w-5xl">
                                        <h3 class="font-bold text-lg text-center">Historial de Versiones</h3>
                                        <hr>

                                        <div hx-get="{% url 'versiones_archivo' archivo.pk %}" hx-trigger="intersect"></div>
                                    </div>
                                    <label class="modal-backdrop" for="history-{{archivo.pk}}">Close</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}