{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Lista de Secciones{% endblock %}

{% block content %}
    <div class="p-3">
        <h1 class="text-center text-3xl font-bold">
            {{seccion.nombre}}
        </h1>

        <h2>
        <a href="{% url 'list_files' seccion=seccion.pk %}">{{seccion.nombre}}</a> / 
        {% if ruta_carpeta %}
            {% for carpeta in ruta_carpeta %}
                <a href="{% url 'list_files_carpeta' seccion=seccion.pk carpeta=carpeta.ruta %}">{{carpeta.nombre}}</a> / 
            {% endfor %}
        {% endif %}
        </h2>

        <hr>

        <table class="table-xs w-full border-collapse border border-gray-300">
            <thead class="bg-gray-900 text-white">
                <tr>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Fecha de Carga</th>
                    <th>Cargado por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if not carpetas and not archivos %}
                    <tr>
                        <td colspan="5" class="text-center">No hay carpetas ni archivos para mostrar.</td>
                    </tr>
                {% else %}
                    {% for carpeta in carpetas %}
                    <tr class="hover:bg-gray-100 text-center">
                            <td>
                                <div class="flex justify-center">
                                    <img src="/static/img/folder.svg" width="25" height="25" alt="Carpeta">
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'list_files_carpeta' seccion=seccion.pk carpeta=carpeta.ruta %}" class="hover:underline">{{carpeta.nombre}}</a>
                        </td>
                        <td>{{carpeta.fecha_de_carga}}</td>
                        <td>{{carpeta.creado_por.get_full_name}}</td>
                        <td>                            
                            <div class="flex justify-center">
                                {% if request.user.is_superuser %}
                                <label for="edit-{{carpeta.pk}}" class="btn btn-xs btn-gray-600">
                                    <img src="{% static 'img/edit.svg' %}" width="15" height="15" alt="Eliminar">
                                </label>
                                <input type="checkbox" id="edit-{{carpeta.pk}}" class="modal-toggle" />
                                <div class="modal" id="edit-{{carpeta.pk}}" role="dialog">
                                    <div class="modal-box p-5">
                                        <h3 class="font-bold text-lg text-center">Edición de Carpeta</h3>
                                        <hr>
                                        <form action="" method="post">
                                            <div class="w-full">
                                                {% csrf_token %}
                                                <div class="form-control w-full">
                                                    <label class="label">
                                                        <span class="label-text">Nombre de la Carpeta</span>
                                                    </label>
                                                    <input type="text" class="input input-bordered" name="carpeta-nombre" value="{{carpeta.nombre}}">
                                                    <input type="text" name="editar" value="{{carpeta.pk}}" hidden>
                                                </div>
                                            </div>

                                            <div class="modal-action flex justify-center">
                                                <button type="submit" class="btn btn-error">Editar Carpeta</button>
                                            </div>
                                        </form>
                                    </div>
                                    <label class="modal-backdrop" for="edit-{{carpeta.pk}}">Close</label>
                                </div>
                                                        &nbsp;
                                {% if carpeta.carpeta_vacia %}
                                <form action="" method="post" onsubmit="return confirm('¿Desea eliminar esta carpeta?')">
                                    {% csrf_token %}
                                    <input type="hidden" name="eliminar" value="{{carpeta.pk}}">
                                    <button type="submit" class="btn btn-xs btn-error">
                                        <img src="{% static 'img/delete.png' %}" width="15" height="15" alt="Eliminar">
                                    </button>
                                </form>
                                {% endif %}
                                {% endif %}

                                <label for="history-folder-{{carpeta.pk}}" class="btn btn-xs btn-info">
                                    <img src="{% static 'img/history.png' %}" width="15" height="15" alt="Historial">
                                </label>

                                <input type="checkbox" id="history-folder-{{carpeta.pk}}" class="modal-toggle" />
                                <div class="modal" id="history-folder-{{carpeta.pk}}" role="dialog">
                                    
                                    <div class="modal-box p-5 w-11/12 max-w-5xl">
                                        <h3 class="font-bold text-lg text-center">Registro de Cambios a la Carpeta</h3>
                                        <hr>

                                        <div hx-get="{% url 'versiones_carpetas' carpeta.pk %}" hx-trigger="intersect"></div>
                                    </div>
                                    <label class="modal-backdrop" for="history-folder-{{carpeta.pk}}">Close</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                    {% for archivo in archivos %}
                    <tr class="hover:bg-gray-100 text-center">
                            <td>
                                <div class="flex justify-center">
                                    {% if '.pdf' in archivo.direccion.url %}
                                    <img src="{% static 'img/pdf.svg' %}" width="25" height="25" alt="PDF">
                                    {% elif '.doc' in archivo.direccion.url or '.docx' in archivo.direccion.url %}
                                        <img src="{% static 'img/docx.png' %}" width="25" height="25" alt="Documento">
                                    {% elif '.xls' in archivo.direccion.url or '.xlsx' in archivo.direccion.url %}
                                        <img src="{% static 'img/xlsx.png' %}" width="25" height="25" alt="Excel">
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <a href="{{archivo.direccion.url}}" target="_blank" class="hover:underline">{{archivo.nombre}}</a>
                        </td>
                        <td>{{archivo.fecha_de_carga}}</td>
                        <td>{{archivo.creado_por.get_full_name}}</td>
                        <td>
                            <div class="flex justify-center">
                                {% if request.user.is_superuser %}
                                <label for="edit-archivo-{{archivo.pk}}" class="btn btn-xs btn-gray-600">
                                    <img src="{% static 'img/edit.svg' %}" width="15" height="15" alt="Eliminar">
                                </label>
                                <input type="checkbox" id="edit-archivo-{{archivo.pk}}" class="modal-toggle" />
                                <div class="modal" id="edit-archivo-{{archivo.pk}}" role="dialog">
                                    <div class="modal-box p-5">
                                        <h3 class="font-bold text-lg text-center">Actualización de Archivo '{{archivo.nombre}}'</h3>
                                        <hr>
                                        <form action="" method="post" enctype="multipart/form-data">
                                            <div class="w-full">
                                                {% csrf_token %}
                                                <input type="hidden" name="archivo" value="1">
                                                <input type="hidden" name="editar" value="{{archivo.pk}}">
                                                
                                                <label class="label">
                                                    <span class="label-text">Archivo a Cargar:</span>
                                                </label>

                                                <input type="file" name="archivo-direccion" id="id_archivo-direccion-{{archivo.pk}}" class="input input-bordered w-full" accept=".pdf, .xls, .xlsx, .doc, .docx">

                                                <div class="form-control w-full">
                                                    <label class="label">
                                                        <span class="label-text">Nombre del archivo</span>
                                                    </label>
                                                    <input type="text" class="input input-bordered w-full" id="id_archivo-nombre-{{archivo.pk}}" name="archivo-nombre" value="{{archivo.nombre}}" pattern="[^/]+" title="No se permite el caracter /" disabled>
                                                    <input type="text" name="editar" value="{{archivo.pk}}" hidden>
                                                </div>

                                                <input type="checkbox" id="id_archivo-mantener_nombre-{{archivo.pk}}" name="archivo-mantener_nombre" class="checkbox checkbox-primary" checked="checked">
                                                <label for="id_archivo-mantener_nombre-{{archivo.pk}}">Mantener el Nombre del Archivo</label>

                                                <script>
                                                    // Opcional: Asegurar que empiece deshabilitado al cargar la página
                                                    if (!document.getElementById('id_archivo-direccion-{{archivo.pk}}').value) {
                                                        document.getElementById('id_archivo-nombre-{{archivo.pk}}').disabled = true;
                                                    }

                                                    document.getElementById('id_archivo-direccion-{{archivo.pk}}').addEventListener('change', function() {
                                                        const maxSize = 10 * 1024 * 1024; // 10MB in bytes

                                                        if (this.files && this.files.length > 0) {
                                                            const file = this.files[0];

                                                            // Check if file exceeds 10MB
                                                            if (file.size > maxSize) {
                                                                alert("El archivo seleccionado excede el tamaño máximo permitido de 10MB. Por favor, elija un archivo más pequeño.");
                                                                
                                                                // Reset the inputs
                                                                this.value = ""; 
                                                                document.getElementById('id_archivo-nombre-{{archivo.pk}}').value = "";
                                                                document.getElementById('id_archivo-nombre-{{archivo.pk}}').disabled = true;
                                                                return; // Exit the function
                                                            }

                                                            // If size is okay, enable field and set name
                                                            document.getElementById('id_archivo-nombre-{{archivo.pk}}').disabled = true;
                                                            document.getElementById('id_archivo-nombre-{{archivo.pk}}').value = file.name;
                                                            checkbox.checked = true; // Aseguramos que el checkbox se marque
                                                            
                                                        } else {
                                                            // If no file (or selection cancelled)
                                                            document.getElementById('id_archivo-nombre-{{archivo.pk}}').disabled = true;
                                                            document.getElementById('id_archivo-nombre-{{archivo.pk}}').value = "";
                                                        }
                                                    });

                                                    function actualizarNombre() {
                                                        // Si el checkbox está activo, deshabilitamos el campo
                                                        if (document.getElementById('id_archivo-mantener_nombre-{{archivo.pk}}').checked) {
                                                            document.getElementById('id_archivo-nombre-{{archivo.pk}}').disabled = true;
                                                        } else {                                        
                                                            document.getElementById('id_archivo-nombre-{{archivo.pk}}').disabled = false;
                                                                                                
                                                        }

                                                        if (document.getElementById('id_archivo-direccion-{{archivo.pk}}').files.length > 0) {
                                                            document.getElementById('id_archivo-nombre-{{archivo.pk}}').value = document.getElementById('id_archivo-direccion-{{archivo.pk}}').files[0].name;
                                                        }
                                                    }

                                                    // Escuchar cuando cambian el checkbox
                                                    document.getElementById('id_archivo-mantener_nombre-{{archivo.pk}}').addEventListener('change', actualizarNombre);

                                                    // Escuchar cuando seleccionan un archivo nuevo
                                                    document.getElementById('id_archivo-direccion-{{archivo.pk}}').addEventListener('change', function() {
                                                        // Solo intentamos poner el nombre si el checkbox NO está activo
                                                        if (!document.getElementById('id_archivo-mantener_nombre-{{archivo.pk}}').checked && this.files.length > 0) {
                                                            document.getElementById('id_archivo-nombre-{{archivo.pk}}').value = this.files[0].name;
                                                        }
                                                    });

                                                    // Ejecutar al cargar por si el navegador recordó estados previos
                                                    actualizarNombre();
                                                </script>                                                
                                            </div>

                                            <div class="modal-action flex justify-center">
                                                <button type="submit" class="btn btn-error">Editar Archivo</button>
                                            </div>
                                        </form>
                                    </div>
                                    <label class="modal-backdrop" for="edit-{{archivo.pk}}">Close</label>
                                </div>
                                                        &nbsp;
                                
                                <form action="" method="post" onsubmit="return confirm('¿Desea eliminar este archivo? Quedará eliminado permanentemente.')">
                                    {% csrf_token %}
                                    <input type="text" name="archivo" value="1" hidden>
                                    <input type="hidden" name="eliminar" value="{{archivo.pk}}">
                                    <button type="submit" class="btn btn-xs btn-error">
                                        <img src="{% static 'img/delete.png' %}" width="15" height="15" alt="Eliminar">
                                    </button>
                                </form>
                                {% endif %}

                                <label for="history-{{archivo.pk}}" class="btn btn-xs btn-info">
                                    <img src="{% static 'img/history.png' %}" width="15" height="15" alt="Historial">
                                </label>

                                <input type="checkbox" id="history-{{archivo.pk}}" class="modal-toggle" />
                                <div class="modal" id="history-{{archivo.pk}}" role="dialog">
                                    
                                    <div class="modal-box p-5 w-11/12 max-w-5xl">
                                        <h3 class="font-bold text-lg text-center">Historial de Versiones</h3>
                                        <hr>

                                        <div hx-get="{% url 'versiones_archivo' archivo.pk %}" hx-trigger="intersect"></div>
                                    </div>
                                    <label class="modal-backdrop" for="history-{{archivo.pk}}">Close</label>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}